
.talk-package {
  display: flex;
  margin: 0 0 3rem 0;
  border: 2px solid #ddd;
  border-radius: 0.8rem;
  padding: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.talk-package > .talk-img-list > .talk-img img {
  max-width: 50%;
  object-fit: contain;
  max-height: 92%;
  margin: 5px;
  width: auto;
}
.talk-package > .talk-img-list {
  margin-left: 1rem;
  flex-basis: 100%;
  align-content: center;
  text-align: center;
}
.talk-package > .talk-time {
  margin-left: auto;
  margin-top: auto;
}
.talk-package > .talk-id {
  margin-left: auto;
  margin-bottom: auto;
  font-size: 24px;
}
.talk-package > .talk-text {
  width: 100%;
}
.talk-package > .talk-text i.emoji {
  font-style: normal !important;
  background-image: none !important;
  background: none !important;
}
.center {
  display: block;
  text-align: -webkit-center;
  unicode-bidi: isolate;
}
.getMore {
  color: #06c;
  transition: all 0.2s;
  cursor: default;
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 15px;
}
.getMore:hover {
  background-color: #06c;
  color: #fff;
  cursor: default;
}
